.menu {
	font: 1.2em Helvetica, Arial, san-serif;
	background: #c6c6c6;
	height: 67px;
	padding:5px;
	margin: 10px 0;
}

.button {
	display: inline-block;
	text-align: center;
	text-transform: capitalize;
	padding: 15px;
	margin: 5px;
	font-size: 1.4em;
	color:#000;
	background: #eee; 
}

.active {
	background: #444;
	color:#fff;
}

.disabled {
	background: gray;
}
