//== Set brand colors
@import "../bootstrap-sass/brand/brand.scss";

//== Use brand colors in Bootstrap
@import "partials/variables";

//== Use Bootstrap components
@import "../bootstrap-sass/stylesheets/bootstrap";

@import "partials/toolbar";

//== Playground ===================================
//=================================================

$bg: #333;

body {
	background:$bg;
}
h1 {
	color:#fff;
	padding: 1em;
}
