/* Colors
==================================================== */
$brand-primary:     #007FB5;
$brand-light:       #008DC9;
$brand-dark:        #075E83;
$brand-darker:      #024561;

$gray-warm-light:   #F3F3F0;
$gray-cool-light:   #F4F6F8;
$gray-cool:         #A5AFB7;
$gray:              #DCDCDC;
$gray-dark:         #4E5052;

$white:             #fff;

$brand-danger:      #d9534f;
$brand-warning:     #f0ad4e;
$brand-success:     #5cb85c;
$brand-info:        #5bc0de;

/* Typography
==================================================== */
$font-stack:        Helvetica, sans-serif;
$font-color:        $gray-dark;
